FORMAT: 1A
HOST: https://addons-ecs.forgesvc.net

# Twitch App API
This is a fork of https://twitchappapi.docs.apiary.io/

Some (most?) endpoint have `.../timestamp` sub-endpoint that describes when the information of hat endpoints was last updated. Returns ISO 8201 timedate.

# Data Structures

## ISO 8601 (string)
ISO 8601

## regex (string)

## Author (object)
+ name: SangarWasTaken (string) User's display username
+ url: `https://www.curseforge.com/members/12026371-sangarwastaken?username=SangarWasTaken` (string)
    A url to the user's page
+ id: 14771  (number)
+ userId: 12026371 (number)
+ twitchId: 59321375  (number)

## Attachment (object)
+ id: 9325 (number)
+ projectId: 223008 (number)
+ description: `A computer with a multi-block screen and a hologram, and a robot next to a charger station.` (string)
+ isDefault: false (boolean)
+ thumbnailUrl: `https://media.forgecdn.net/attachments/thumbnails/14/126/310/172/oc.png` (string)
+ title: `A little bit of everything` (string)
+ url: `https://media.forgecdn.net/attachments/14/126/oc.png` (string)
+ status: 1 (number)

## Addon Category (object)
+ categoryId: 424 (number)
+ name: Cosmetic (string)
+ url: `https://www.curseforge.com/minecraft/mc-mods/cosmetic` (string)
+ avatarUrl: `https://media.forgecdn.net/avatars/6/39/635351497555976928.png` (string)
+ parentId: 6 (number)
+ rootId: 6 (number)
+ projectId: 223008 (number)
+ avatarId: 6039 (number)
+ gameId: 432 (number)

## Category Section (object)
+ id: 8 (number)
+ gameId: 432 (number)
+ name: Mods (string)
+ packageType: 6 (number)
+ path: mods (string)
+ initialInclusionPattern: `.` (regex)
+ extraIncludePattern (regex, nullable)
    **[Nullable]**
+ gameCategoryId: 6 (number)
    Can be used to [list categories](#reference/0/category/list-categories-in-section) of the section

## Game File (object)
+ id: 34 (number)
+ gameId: 432  (number)
+ isRequired: true (boolean)
+ fileName: `instance.json` (string)
+ fileType: 3 (number)
+ platformType: 4 (number)

## Game Detection Hint (object)
+ id: 9 (number)
+ hintType: 2 (number)
+ hintPath: `%Public%\Games\Minecraft` (string)
+ hintKey (object)
+ hintOptions: 0 (number)
+ gameId: 432 (number)

## File Parsing Rule (object)
+ id: 0 (number)
+ commentStripPattern: `(?s)<!--.*?-->` (regex)
+ fileExtension: `.xml` (string)
+ inclusionPattern: `(?i)<(?:Include|Script)\\s+file=[\"\"']((?:(?<!\\.\\.).)+)[\"\"']\\s*/>` (regex)
+ gameId: 1 (number)

## Addon Game Version Files (object)
+ gameVersion: 1.12.2 (string)
+ projectFileId: 2670112 (number)
+ projectFileName: `OpenComputers-MC1.12.2-1.7.4.153.jar` (string)
+ fileType: 1 (number)
+ gameVersionFlavor (nullable)
    **[Nullable]**

## Minecraft Modloader List (object)
+ name: `forge-9.11.1.965` (string)
+ gameVersion: `1.6.4` (string)
+ latest: false (boolean)
+ recommended: false (boolean)
+ dateModified: `2017-01-01T00:00:00Z` (ISO 8601)

## Dependency (object)
+ id: 123 (number)

## Module (object)
+ foldername: `META-INF` (string)
+ fingerprint: 1959901996 (number)
    See [Fingerprint](#reference/0/fingerprint)
+ type: 3 (number)

## Addon Status (enum)
+ 1 (number) - New
+ 2 (number) - Changes required
+ 3 (number) - Under soft review
+ 4 (number) - Approved
+ 5 (number) - Rejected
+ 6 (number) - Changes made
+ 7 (number) - Inactive
+ 8 (number) - Abandoned
+ 9 (number) - Deleted
+ 10 (number) - Under review



# Endpoints

## Addon [/api/v2/addon]

+ Attributes
    + id: 223008 (number)
    + name: OpenComputers (string) A user friendly addon name
    + authors (array[Author])
    + attachments (array[Attachment])
        An array describing screenshots, icons and avatars
    + websiteUrl: `https://www.curseforge.com/minecraft/mc-mods/opencomputers` (string)
    + gameId: 432 (number)
    + summary: Modular, persistent, programmable computers and robots. (string)
    + defaultFileId: 2670112 (number)
        The id of a File that should be downloaded by default
    + downloadCount: 17023473.0 (number)
    + latestFiles (array[File])
        Array of [files](#reference/0/file) Sorted by ID or upload date, ascending
    + status (Addon Status)
    + primaryCategoryId: 412 (number)
    + categories (array[Addon Category])
    + categorySection (Category Section)
    + slug: `opencomputers` (string)
    + gameVersionLatestFiles (array[Addon Game Version Files])
    + isFeatured: false (boolean)
    + popularityScore: 11539.0361328125 (number)
    + gamePopularityRank: 115 (number)
    + primaryLanguage: `enUS` (string)
    + gameSlug: `minecraft` (string)
    + gameName: `Minecraft` (string)
    + portalName: `www.curseforge.com` (string)
    + dateModified: `2019-02-07T07:33:07.407Z` (ISO 8601)
    + dateCreated: `2014-08-02T21:00:17.38Z`  (ISO 8601)
    + dateReleased: `2019-02-07T05:54:56.617Z` (ISO 8601)
    + isAvailable: true (boolean)
    + isExperiemental: false (boolean)

### Addon Info [GET /api/v2/addon/{addonID}]
Returns info of a single Addon.

+ Parameters
    + addonID: 223008 (number)

+ Response 200 (application/json)
    + Attributes (Addon)

### Addon Info (Multiple) [POST]
Returns at most as many Addon objects as requested.

+ Request (application/json)
    + Attributes (array[number])
        + Sample
            + 223008
    + Body

            [
                223008
            ]


+ Response 200 (application/json)
    + Attributes (array[Addon])

### Search [GET /api/v2/addon/search?gameId={gameId}&gameVersion={gameVersion}&categoryId={categoryID}&index={index}&pageSize={pageSize}5&searchFilter={searchFilter}&sectionId={sectionId}&sort={sort}]

Main search endpoint for addons. Returns an array of matching addons. Requires at least a game ID.
Root categories search includes all child categories.

+ Parameters
    + gameId: 432 (integer, required)
    + gameVersion: `1.12.2` (string, optional)
    + categoryID: 0 (integer, optional)
    + index: 0 (integer, optional)
    + pageSize: 1 (integer, optional)
    + searchFilter: `opencomputers` (string, optional)
    + sectionId (integer, optional)
    + sort: 0 (integer, optional)

+ Response 200 (application/json)
    + Attributes (array[Addon])

### List Featured Addons [POST /api/v2/addon/featured]

Returns an array of Addons

+ Request (application/json)
    + Attributes (object)
        + gameId: 432 (number)
        + addonsIds (array[number])
        + featuredCount: 1 (number)
        + popularCount: 1 (number)
        + updatedCount: 1 (number)

+ Response 200 (application/json)
    + Attributes (array[Addon])

### Addon Description [GET /api/v2/addon/{addonID}/description]

Description of an addon as HTML

+ Parameters
    + addonID: `310806` (integer)

+ Response 200 (text/html)

        <p>Shows a custom watermark in the top centre of the users screen.</p>
        <p>&nbsp;</p>
        <p><img src="https://media.forgecdn.net/attachments/244/16/java_2019-01-07_20-29-48.png" alt="" width="1920" height="1017"></p>
        <p>&nbsp;</p>
        <p>Example config:</p>
        <pre># Configuration file
    
        general {
    
            watermarkconfig {
                # Sets first line to be the player uuid
                B:Line1PlayerUUID=false
            }
    
            watermarkconfiglines {
                # Leave Blank To Ignore
                # Line 1 will be ignored if setLine1PlayerUUID is true
                S:Line1=
                S:Line2=
                S:Line3=
                S:Line4=
            }
    
            watermarkconfigtextcolour {
                I:Alpha=255
                I:Blue=255
                I:Green=255
                I:Red=255
            }
    
        }
        </pre>

### Addon Files [GET /api/v2/addon/{addonID}/files]

Array of [files](#reference/0/file) Sorted by ID or upload date, ascending

+ Parameters
    + addonID: `304026` (integer)

+ Response 200 (application/json)
    + Attributes (array[File])


## File [/api/v2/addon/{projectId}/files/{id}]

+ Attributes
    + id: 2670112 (number)
    + displayName: `OpenComputers-MC1.12.2-1.7.4.153.jar` (string)
    + fileName: `OpenComputers-MC1.12.2-1.7.4.153.jar` (string)
    + fileDate: `2019-02-07T05:54:56.617Z` (string)
        File upload date in ISO 8601 format
    + fileLength: 15545293 (number)
        Length, in bytes
    + releaseType (enum)
        - Members
            - 1 (number) - Release
            - 2 (number) - Beta
            - 3 (number) - Alpha
    + fileStatus (enum)
        - Members
            - 1 (number) - Processing
            - 2 (number) - Changes required
            - 3 (number) - Under review
            - 4 (number) - Approved
            - 5 (number) - Rejected
            - 6 (number) - Malware detected
            - 7 (number) - Deleted
            - 8 (number) - Archived
            - 9 (number) - Testing
            - 10 (number) - Released
            - 11 (number) - Ready for review
            - 12 (number) - Deprecated
            - 13 (number) - Baking
            - 14 (number) - Awaiting publishing
            - 15 (number) - Failed publishing
    + downloadUrl: `https://edge.forgecdn.net/files/2670/112/OpenComputers-MC1.12.2-1.7.4.153.jar` (string)
    + isAlternate: false (boolean)
    + alternateFileId: 0 (number)
    + dependencies (array[Dependency])
    + isAvailable: true (boolean)
    + modules (array[Module])
    + packageFingerprint: 3067488310,
    + gameVersion: 1.12.2 (array[string])
    + sortableGameVersion (array)
        + Items
            + Attributes
                + gameVersionPadded: 0000000001.0000000012.0000000002 (string)
                + gameVersion: 1.12.2 (string)
                + gameVersionReleaseDate: `2017-09-18T05:00:00Z` (ISO 8601)
                + gameVersionName: 1.12.2 (string)
    + installMetadata: null (nullable)
        **[Nullable]**
    + changelog: null (nullable)
        **[Nullable]**
    + hasInstallScript: false (boolean)
    + isCompatibleWithClient: false (boolean)
    + categorySectionPackageType: 6 (number)
    + restrictProjectFileAccess: 1 (number)
    + projectStatus (Addon Status)
    + renderCacheId: 1510631 (number)
    + fileLegacyMappingId (number, nullable)
        **[Nullable]**
    + projectId: 223008 (number)
    + parentProjectFileId (number, nullable)
        **[Nullable]**
    + parentFileLegacyMappingId (number, nullable)
        **[Nullable]**
    + fileTypeId (number, nullable)
        **[Nullable]**
    + exposeAsAlternative (number, nullable)
        **[Nullable]**
    + packageFingerprintId: 291979999 (number)
    + gameVersionDateReleased: `2006-12-11T00:00:00Z` (ISO 8601)
    + gameVersionMappingId: 1748512 (number)
    + gameVersionId: 4456 (number)
    + gameId: 432 (number)
    + isServerPack: false (boolean)
    + serverPackFileId (number, nullable)
        **[Nullable]**
    + gameVersionFlavor (number, nullable)
        **[Nullable]**

### Information [GET /api/v2/addon/{projectId}/file/{id}]

+ Parameters
    + projectId: `223008` (integer)
    + id: `2670112` (integer)

+ Response 200 (application/json)
    + Attributes (File)

### Changelog [GET /api/v2/addon/{projectId}/file/{id}/changelog]

+ Parameters
    + projectId: `310806` (integer)
    + id: `2657461` (integer)

+ Response 200 (text/plain)

        <p>Initial release</p>

### Download URL [GET /api/v2/addon/{projectId}/file/{id}/download-url]

+ Parameters
    + projectId: `296062` (integer)
    + id: `2724357` (integer)

+ Response 200 (text/plain)

        https://edge.forgecdn.net/files/2724/357/SkyFactory4-4.0.8.zip


## Fingerprint [/api/v2/fingerprint]

Uses default [MurmurHash2](https://en.wikipedia.org/wiki/MurmurHash) with seed `1`

### Find Addon Files [POST]

+ Request (application/json)

        [
                3067488310
        ]

+ Response 200 (application/json)
    + Attributes (object)
        + isCacheBuilt: true (boolean)
        + exactMatches (array)
            + Items
                + Attributes (object)
                    + id: 2670112 (number)
                    + file (File)
                    + latestFiles (array[File])
        + exactFingerprints: 3028671922 (array[number])
        + partialMatches (array[number])
        + partialMatchFingerprints (array)
        + installedFingerprints: 3028671922 (array[number])
        + unmatchedFingerprints (array)


## Minecraft [/api/v2/minecraft]

+ Attributes (object)
    + id: 52 (number)
    + gameVersionId: 6756 (number)
    + jarDownloadUrl: `https://s3.amazonaws.com/Minecraft.Download/versions/1.12.2/1.12.2.jar` (string)
    + jsonDownloadUrl: `https://s3.amazonaws.com/Minecraft.Download/versions/1.12.2/1.12.2.json` (string)
    + approved: false (boolean)
    + dateModified: `2018-03-29T17:24:38.393Z` (ISO 8601)
    + gameVersionTypeId: 64806 (number)
    + gameVersionStatus: 1 (number)
    + gameVersionTypeStatus: 1 (number)

### Version List [GET /api/v2/minecraft/version]

+ Response 200 (application/json)
    + Attributes (array[Minecraft])

### Version Info [GET /api/v2/minecraft/version/{versionString}]
+ Parameters
    + versionString: `1.12.2` (string)

+ Response 200 (application/json)
    + Attributes (Minecraft)


## Minecraft Modloader [/api/v2/minecraft/modloader]

+ Attributes
    - id: 2971 (number)
    - gameVersionId: 6166 (number)
    - minecraftGameVersionId: 42 (number)
    - forgeVersion: `12.17.0.1980` (string)
    - name: `forge-12.17.0.1980` (string)
    - type: 1 (number)
    - downloadUrl: `https://modloaders.cursecdn.com/647622546/maven/net/minecraftforge/forge/1.9.4-12.17.0.1980-1.10.0/forge-1.9.4-12.17.0.1980-1.10.0.jar` (string)
    - filename: `forge-1.9.4-12.17.0.1980-1.10.0.jar` (string)
    - installMethod: 1 (number)
    - latest: true (boolean)
    - recommended: true (boolean)
    - approved: false (boolean)
    - dateModified: `2017-01-01T00:00:00Z` (ISO 8601)
    - mavenVersionString: `net.minecraftforge:forge:1.9.4-12.17.0.1980-1.10.0` (string)
    - versionJson (string)
        Escaped string representation of JSON file
    - librariesInstallLocation: `{0}\libraries\net\minecraftforge\forge\1.9.4-12.17.0.1980-1.10.0` (string)
    - minecraftVersion: `1.9.4` (string)
    - additionalFilesJson (string, nullable)
        **[Nullable]**
    - modLoaderGameVersionId: 6166 (number)
    - modLoaderGameVersionTypeId: 3 (number)
    - modLoaderGameVersionStatus: 3 (number)
    - modLoaderGameVersionTypeStatus: 1 (number)
    - mcGameVersionId: 6084 (number)
    - mcGameVersionTypeId: 552 (number)
    - mcGameVersionStatus: 1 (number)
    - mcGameVersionTypeStatus: 1 (number)
    - installProfileJson (string, nullable)
        **[Nullable]**

### Get Modloader List [GET /api/v2/minecraft/modloader]

+ Response 200 (application/json)
    + Attributes (array[Minecraft Modloader List])
        + Sample
            + (object)
                + name: `forge-9.11.1.965` (string)
                + gameVersion: `1.6.4` (string)
                + latest: false (boolean)
                + recommended: false (boolean)
                + dateModified: `2017-01-01T00:00:00Z` (ISO 8601)
            + (object)
                + name: `forge-14.23.5.2768`
                + gameVersion: `1.12.2`
                + latest: false
                + recommended: true
                + dateModified: `2018-10-04T07:48:00Z`
            + (object)
                + name: `forge-14.23.5.2838`
                + gameVersion: `1.12.2`
                + latest: true
                + recommended: false
                + dateModified: `2019-05-13T17:02:00Z`
            + (object)
                + name: `forge-12.17.0.1980`
                + gameVersion: `1.9.4`
                + latest: true
                + recommended: true
                + dateModified: `2017-01-01T00:00:00Z`


### Get Modloader Info [GET /api/v2/minecraft/modloader/{name}]

+ Parameters
    + name: `forge-12.17.0.1980` (string)

+ Response 200 (application/json)
    + Attributes (Minecraft Modloader)


## Category [/api/v2/category]

Generic collection of addons. [Game](#reference/0/game) object specifies root categories through Category Section objects.

+ Attributes
    + id: 423 (number)
    + name: `Map and Information` (string)
    + slug: `map-information` (string)
    + avatarUrl: `https://media.forgecdn.net/avatars/6/38/635351497437388438.png` (string)
    + dateModified: `2014-05-08T17:42:23.74Z` (ISO 8601)
    + parentGameCategoryId: 6 (number, nullable)
        **[Nullable]**

        Is null for root categories
    + rootGameCategoryId: 6 (number, nullable)
        **[Nullable]**

        Is null for root categories
    + gameId: 432 (number)

### List [GET /api/v2/category/{?gameId}]

+ Parameters
    + gameId: `432` (integer, optional)

+ Response 200 (application/json)
    + Attributes (array[Category])

### Info [GET /api/v2/category/{id}]

+ Parameters
    + id: `423` (integer)

+ Response 200 (application/json)
    + Attributes (Category)

### List Categories in Section [GET /api/v2/category/section/{id}]

Get categories of a section. Works only with root categories (described by Category Section objects of [Game](#reference/0/game)).
Uses the Section's Category ID `gameCategoryId`, not Section's own ID. Returns 404 on anything else

+ Parameters
    + id: `6` (integer)
        Value of *gameCategoryId* from Category Section object.

+ Response 200 (application/json)
    + Attributes (array[Category])


## Game [/api/v2/game{?supportsAddons}]

+ Parameters
    + supportsAddons: true (boolean, optional)

+ Attributes (object)
    + id: 432 (number)
    + name: `Minecraft` (string)
    + slug: `minecraft` (string)
    + dateModified: `2019-07-11T21:23:30.71Z` (ISO 8601)
    + gameFiles (array[Game File])
    + gameDetectionHints (array[Game Detection Hint])
    + fileParsingRules (array[File Parsing Rule])
    + categorySections (array[Category Section])
    + maxFreeStorage: 0 (number)
    + maxPremiumStorage: 0 (number)
    + maxFileSize: 0 (number)
    + addonSettingsFolderFilter: null (string, nullable)
    + addonSettingsStartingFolder: null (string, nullable)
    + addonSettingsFileFilter: null (string, nullable)
    + addonSettingsFileRemovalFilter: null (string, nullable)
    + supportsAddons: true (boolean)
    + supportsPartnerAddons: false (boolean)
    + supportedClientConfiguration: 3 (number)
    + supportsNotifications: true (boolean)
    + profilerAddonId: 0 (number)
    + twitchGameId: 27471 (number)
    + clientGameSettingsId: 24 (number)

### Get Games List [GET /api/v2/game{?supportsAddons}]

+ Parameters
    + supportsAddons: true (boolean, optional)

+ Response 200 (application/json)
    + Attributes (array[Game])

### Get Game Info [GET /api/v2/game/{gameId}]

+ Parameters
    + gameId: 432 (integer, required)

+ Response 200 (application/json)
    + Attributes (Game)
